<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
  <meta charset="UTF-8" />
  <meta property="og:site_name" content="site_name" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="" />
  <link rel="canonical" href="" />

	<% if(media,==,"sp") %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="disparea" content="vga" />
	<% /if %>
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
  <title></title>
  <link rel="stylesheet" type="text/css" href="../common/normalize.css" />
  <link rel="stylesheet" type="text/css" href="<% echo(layout_css) %>" />
  <link rel="stylesheet" type="text/css" href="<% echo(mod_css) %>" />
  <script>
    (function() {
        // var protocol = location.protocol;
        var protocol = 'http:';
        document.write('<script src="' + protocol + '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">\x3C/script>');
        document.write('<script src="' + protocol + '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.js">\x3C/script>');
    }());
  </script>
	<% if(media,==,"pc") %>
		<script src="../common/js/pc.js"></script>
		<script src="../common/js/pc2.js"></script>
	<% /if %>
	<% if(media,==,"sp") %>
		<script src="../common/js/sp.js"></script>
		<script src="../common/js/sp2.js"></script>
	<% /if %>
	<% if(mobile_flg,==,true) %>
  	<link rel="stylesheet" type="text/css" href="assets/snap.css" />
  	<script src="assets/snap.min.js"></script>
	<% /if %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" />
  <link rel="stylesheet" type="text/css" href="assets/chk.css" />
  <script src="assets/chk.js"></script>
</head>
<body class="<% if(mobile_flg,==,false) %>chk-pc<% else %>chk-sp<% /if %>">

  <div id="chk-leftpanel" class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
      <% if(mobile_flg,==,false) %>
        <div>close</div>
      <% /if %>
      <ul class="chk-tabs">
        <li class="chk-tab-ex on" data-chk-tab="chk-ex_panel">EX</li><li class="chk-tab-param" data-chk-tab="chk-param_panel">Settings</li>
      </ul>
      <!-- chk-ex_panel -->
      <div id="chk-ex_panel" class="chk-panel">
        <div class="chk-ex-style">
          <h3 class="chk-accordion_h">Ex-style</h3>
          <div class="chk-accordion">
            <ul>
							<% each(ex_style) %>
              	<% if(ex_style/clear,==true) %>
									<li class="clear">
								<% else %>
									<li>
								<% /if %>
								<input type="radio" id="chk-<% echo(ex_style/id) %>" name="ex-style" value="<% echo(ex_style/id) %>" /><label for="chk-<% echo(ex_style/id) %>"><% echo(ex_style/id) %></label></li>
							<% /each %>
            </ul>
          </div>
        </div>
        <div>
          <h3 class="chk-accordion_h">Ex-imgSize</h3>
          <div class="chk-accordion">
            <ul>
              <li><input type="radio" id="chk-ex-imgSize_L" name="ex-imgSize" value="ex-imgSize_L" /><label for="chk-ex-imgSize_L">ex-imgSize_L</label></li>
              <li><input type="radio" id="chk-ex-imgSize_M" name="ex-imgSize" value="ex-imgSize_M" /><label for="chk-ex-imgSize_M">ex-imgSize_M</label></li>
              <li><input type="radio" id="chk-ex-imgSize_S" name="ex-imgSize" value="ex-imgSize_S" /><label for="chk-ex-imgSize_S">ex-imgSize_S</label></li>
              <li><input type="radio" id="chk-ex-imgSize_2L" name="ex-imgSize" value="ex-imgSize_2L" /><label for="chk-ex-imgSize_2L">ex-imgSize_2L</label></li>
              <li><input type="radio" id="chk-ex-imgSize_2S" name="ex-imgSize" value="ex-imgSize_2S" /><label for="chk-ex-imgSize_2S">ex-imgSize_2S</label></li>
              <li><input type="radio" id="chk-ex-imgSize_2SS" name="ex-imgSize" value="ex-imgSize_2SS" /><label for="chk-ex-imgSize_2SS">ex-imgSize_2SS</label></li>
              <li><input type="radio" id="chk-ex-imgSize_S2S" name="ex-imgSize" value="ex-imgSize_S2S" /><label for="chk-ex-imgSize_S2S">ex-imgSize_S2S</label></li>
              <li><input type="radio" id="chk-imgSize_none" name="ex-imgSize" value="none" /><label for="chk-imgSize_none">none</label></li>
            </ul>
          </div>
        </div>
        <div>
          <h3 class="chk-accordion_h">Ex-imgLayout</h3>
          <div class="chk-accordion">
            <ul>
              <li><input type="radio" id="chk-ex-imgLayout_l" name="ex-imgLayout" value="ex-imgLayout_l" /><label for="chk-ex-imgLayout_l">ex-imgLayout_l</label></li>
              <li><input type="radio" id="chk-ex-imgLayout_r" name="ex-imgLayout" value="ex-imgLayout_r" /><label for="chk-ex-imgLayout_r">ex-imgLayout_r</label></li>
              <li><input type="radio" id="chk-ex-imgLayout_lr" name="ex-imgLayout" value="ex-imgLayout_lr" /><label for="chk-ex-imgLayout_lr">ex-imgLayout_lr</label></li>
              <li><input type="radio" id="chk-ex-imgLayout_rl" name="ex-imgLayout" value="ex-imgLayout_rl" /><label for="chk-ex-imgLayout_rl">ex-imgLayout_rl</label></li>
              <li><input type="radio" id="chk-imgLayout_none" name="ex-imgLayout" value="none" /><label for="chk-imgLayout_none">none</label></li>
            </ul>
          </div>
        </div>
        <div>
          <h3 class="chk-accordion_h">Ex-imgFloat</h3>
          <div class="chk-accordion">
            <ul>
              <li><input type="radio" id="chk-ex-imgFloat" name="ex-imgFloat" value="ex-imgFloat" /><label for="chk-ex-imgFloat">ex-imgFloat</label></li>
              <li><input type="radio" id="chk-imgFloat_none" name="ex-imgFloat" value="none" /><label for="chk-imgFloat_none">none</label></li>
            </ul>
          </div>
        </div>
        <div>
          <h3 class="chk-accordion_h">Ex-align</h3>
          <div class="chk-accordion">
            <ul>
              <li><input type="radio" id="chk-ex-align-left" name="ex-align" value="ex-align-left" /><label for="chk-ex-align-left">ex-align-left</label></li>
              <li><input type="radio" id="chk-ex-align-center" name="ex-align" value="ex-align-center" /><label for="chk-ex-align-center">ex-align-center</label></li>
              <li><input type="radio" id="chk-ex-align-right" name="ex-align" value="ex-align-right" /><label for="chk-ex-align-right">ex-align-right</label></li>
              <li><input type="radio" id="chk-align_none" name="ex-align" value="none" /><label for="chk-align_none">none</label></li>
            </ul>
          </div>
        </div>
        <div>
          <h3 class="chk-accordion_h">Step</h3>
          <div class="chk-accordion">
            <select id="chk-flowstep" name="flowstep" size="1">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div>
          <h3 class="chk-accordion_h">Anchor</h3>
          <div class="chk-accordion">
            <ul>
              <li><input type="radio" id="chk-anchor_link" name="anchor" value="link" /><label for="chk-anchor_link">link</label></li>
              <li><input type="radio" id="chk-anchor_hover" name="anchor" value="hover" /><label for="chk-anchor_hover">hover</label></li>
              <li><input type="radio" id="chk-anchor_none" name="anchor" value="none" /><label for="chk-anchor_none">none</label></li>
            </ul>
          </div>
        </div>
        <div>
          <h3 class="chk-accordion_h">Switchable</h3>
          <div class="chk-accordion">
            <input type="checkbox" id="chk-switchable" name="switchable" value="true" /><label for="chk-switchable">部品挿入初期状態</label>
          </div>
        </div>
        <div>
          <h3 class="chk-accordion_h">RTE FontSize</h3>
          <div class="chk-accordion">
            <input type="text" id="chk-rtefs" name="rtefs" size="3" maxlength="3" />px
          </div>
        </div>
      </div>
      <!-- chk-param_panel -->
      <div id="chk-param_panel" class="chk-panel">
        <form name="settings">
          <div>
            <h3>Media</h3>
            <div>
              <input type="radio" id="pc" name="media" value="pc" <% if(get_media,==,"pc") %>checked<% /if %> /><label for="pc">PC</label>
              <input type="radio" id="sp" name="media" value="sp" <% if(get_media,==,"sp") %>checked<% /if %> /><label for="sp">SP</label>
            </div>
          </div>
          <div>
            <h3>Theme Directory</h3>
            <div>
              <input type="text" name="theme" size="18" value="<% echo(get_theme) %>" />
            </div>
          </div>
          <div>
            <h3>Parts Directory</h3>
            <div>
              <input type="text" name="parts" size="18" value="<% echo(get_parts) %>" />
            </div>
          </div>
          <div>
            <h3>Keyword Search</h3>
            <div>
              <input type="text" name="keyword" size="18" value="<% echo(get_keyword) %>" />
            </div>
          </div>
          <div class="chk-select-parts">
            <h3>Select Parts</h3>
            <div>
              <ul class="chk-select-parts-method">
                <li><input type="radio" id="range" name="selectmethod" value="r" <% if(get_selectmethod,==,"r") %>checked<% /if %> /><label for="range">Range</label></li>
                <li><input type="radio" id="extraction" name="selectmethod" value="e" <% if(get_selectmethod,==,"e") %>checked<% /if %> /><label for="extraction">Extraction</label></li>
              </ul>
              <ul class="chk-select-parts-area">
                <li><label for="header">Header</label><input type="text" name="header" size="10" value="<% echo(get_header) %>" /></li>
                <li><label for="main">Main</label><input type="text" name="main" size="10" value="<% echo(get_main) %>" /></li>
                <li><label for="sub">Side</label><input type="text" name="sub" size="10" value="<% echo(get_sub) %>" /></li>
                <li><label for="footer">Footer</label><input type="text" name="footer" size="10" value="<% echo(get_footer) %>" /></li>
              </ul>
            </div>
          </div>
          <div>
            <input type="button" value="submit" class="submit_btn">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="chk-content" class="snap-content">
    <div class="chk-button"></div>
    <div class="mod-body">
			<% echo(html) %>
      <% if(media,==,"pc") %>
        <div data-parts-name="part-footer-027" class="mod-box22">
          <div class="mod-box25">
            <p class="mod-login">
              <a href="#" rel="nofollow" target="_blank">ログイン（あきばれホームページ）</a>
            </p>
          </div>
        </div>
      <% /if %>
    </div>
  </div>

</body>
</html>
