@charset "UTF-8";
/* line 3, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
body {
  padding: 0;
  margin: 0;
}

/* line 7, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
#chk-leftpanel {
  background: #333333;
}
/* line 9, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
#chk-leftpanel * {
  box-sizing: border-box;
  font-family: "Droid Sans Mono", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* line 13, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
#chk-content {
  background: white;
}
/* line 15, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
#chk-content .dev-part-name {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 0 white;
  width: 100%;
  padding: 0 15px 2px;
  display: block;
  background: #d9d9d9;
  background: linear-gradient(#e5e5e5, #d9d9d9);
  background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#d9d9d9));
  background: -moz-linear-gradient(top, #e5e5e5 0%, #d9d9d9 100%);
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}
/* line 30, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
#chk-content .dev-part-name:before {
  content: "";
  width: 100%;
  height: 0;
  margin: 0 -13px 3px;
  border-top: 1px solid #f7f7f7;
  display: block;
  position: relative;
}

/* line 39, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-tabs {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  text-shadow: 0px -1px 0 black;
}
/* line 46, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-tabs * {
  margin: 0;
  padding: 0;
}
/* line 49, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-tabs li {
  color: white;
  list-style: none;
  background: #333333;
  background: linear-gradient(to bottom, #3f3f3f, #333333);
  border: 1px solid #888888;
  display: inline-block;
  width: 70px;
  height: 25px;
  padding: 2px 0 0 0;
  margin: 0 0 0 -1px;
  cursor: pointer;
}
/* line 61, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-tabs li:first-child {
  margin: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 65, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-tabs li:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 68, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-tabs .on {
  background: #666666;
  background: linear-gradient(to bottom, #555555, #666666);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
}

/* line 73, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-button {
  position: fixed;
  top: 50px;
  left: 20px;
  display: block;
  margin: 0 0 10px;
  padding: 0;
  width: 45px;
  height: 45px;
  border: 1px solid #303030;
  border-radius: 23px;
  background: linear-gradient(to bottom, #3f3f3f, #333333);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0 black;
  font-weight: normal;
  font-size: 12px;
  font-family: "Droid Sans Mono", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  cursor: pointer;
  box-sizing: border-box;
}

/* line 96, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-panel {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  color: white;
  text-shadow: 0px -1px 0 black;
}
/* line 102, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-panel * {
  margin: 0;
  padding: 0;
}
/* line 105, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-panel > div {
  margin: -1px 0 0;
}
/* line 107, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-panel > div:first-child {
  margin: 0;
}
/* line 109, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-panel h3 {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 5px 10px 6px;
  background: #333333;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  font-weight: normal;
  font-size: 14px;
}
/* line 119, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-panel h3 + div {
  margin: 0;
  padding: 10px 10px 20px;
}
/* line 122, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-panel h3 + div li {
  margin: 0 0 3px;
  list-style: none;
}
/* line 126, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-panel input[type="checkbox"], .chk-panel input[type="radio"] {
  margin: 0 10px 2px 0;
  vertical-align: middle;
}
/* line 130, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-panel label {
  display: inline;
  margin: 0;
  font-size: 12px;
  cursor: pointer;
}
/* line 135, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-panel .chk-accordion_h {
  cursor: pointer;
}
/* line 137, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-panel .chk-accordion {
  background: linear-gradient(to bottom, #2b2b2b, #333333);
}

/* line 144, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
#chk-param_panel {
  display: none;
}

/* line 148, C:/Users/satou.AKIBARE/Share/checker/assets/chk.sass */
.chk-drawers-pc {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 230px;
  background: #333333;
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.4);
}
