.snap-drawers {
  background: #333333;
}
.snap-drawer {
  width: 230px;
}

#chk-content {
  background: #ffffff;
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.6);
}

#chk-leftpanel {
  background: #333333;
}

.chk-open_button {
  position: fixed;
  top: 20px;
  left: 20px;
  display: block;
  margin: 0 0 10px;
  padding: 0;
  width: 45px;
  height: 45px;
  border: 1px solid #303030;
  border-radius: 23px;
  background: linear-gradient(to bottom, #3f3f3f, #333333);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0 rgba(0, 0, 0, 1);
  font-weight: normal;
  font-size: 12px;
  font-family: "Droid Sans Mono", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  cursor: pointer;
}

.chk-close_button {
  margin: 10px 10px 20px auto;
  padding: 8px;
  width: 50px;
  border: 1px solid #888888;
  border-radius: 4px;
  background: linear-gradient(to bottom, #3f3f3f, #333333);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}

.chk-panel {
  overflow-y: auto;
  color: #ffffff;
  text-shadow: 0px -1px 0 rgba(0, 0, 0, 1);
  font-family: "Droid Sans Mono", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/*#chk-ex_panel*/
#chk-ex_panel {
  overflow-y: auto;
}
#chk-ex_panel div {
  margin: -1px 0 0;
}
#chk-ex_panel div:first-child {
  margin: 0;
}
.chk-accordion_h {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 5px 10px 6px;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}
.chk-accordion {
  margin: 0;
  padding: 10px 10px 20px;
  background: linear-gradient(to bottom, #2b2b2b, #333333);
  font-size: 12px;
}
.chk-accordion li {
  margin: 0 0 3px;
  list-style: none;
}
.chk-accordion input[type="checkbox"],
.chk-accordion input[type="radio"] {
  margin: 0 10px 2px 0;
  vertical-align: middle;
}
.chk-accordion label {
  display: inline;
  margin: 0;
  font-size: 12px;
  cursor: pointer;
}

/*#chk-param_panel*/
#chk-param_panel {
  overflow-y: auto;
}
